<div class="header d-flex">
<div class="logo" >
  <a routerLink="/products"><img src="../../assets/images/logo.jpg" style="max-height:55px; max-width: 100%"> <div class="caret"></div></a>
  </div>
<span class="spacer"></span>
<ul class="d-flex align-items-center">
  <li class="py-1 px-2"><a routerLink="/cart"><i class='material-icons'>shopping_cart</i> <label *ngIf="cartItems.length > 0" class="badge badge-warning rounded">{{cartItems.length}}</label></a></li>
  <li class="py-1 px-2" *ngIf="!userisAuthenticated"><a routerLink="/login">Login & Signup</a></li>
  <li class="py-1 px-2" *ngIf="userisAuthenticated && userdata != null && userdata">
   <span class="px-2">{{userdata.fullname}}</span>
   <img class="profile" data-toggle="dropdown" [src]="userdata.profilePic"  width="50" class="rounded-circle"/>
   <div class="dropdown-menu">
     <ul>
       <li>
         <a routerLink="/myprofile">MyProfile</a>
       </li>
       <li class="divider"></li>
        <li class="py-1 px-2" *ngIf="userisAuthenticated">
            <button (click)="logout()" class="btn btn-link">Signout</button>
          </li>
     </ul>
   </div>
  </li>
 

</ul>
</div>
<nav class="navbar navbar-expand-sm bg-secondary navbar-light">
  <ul class="navbar-nav d-flex justify-content-around w-100">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/products', 'mens']" href="#">Mens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Womens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink>Electronics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink>All</a>
    </li>
  </ul>
</nav>
