<div class="container d-flex flex-column justify-content-center grid-container mt-3 align-items-center h-50" *ngIf="productIsLoaded">
    <div class="loader"></div>
    <p>Loading</p>
</div>
<div class="container grid-container mt-3" *ngIf="!productIsLoaded">
<div class="product" (click)="view(product)" *ngFor="let product of products">
<div class="image">
        <img [src]="product.images">
      </div>
  <div class="product-body">
     
    <h5 class="title"><small>{{product.title}}</small></h5>
    <div class="d-flex  justify-content-center flex-row">
        <h6 class="price">{{product.price | currency:'₹':'symbol':'1.0'}}</h6>
        <span class="px-3 text-muted font-weight-lighter"><del>{{product.actualprice | currency:'₹':'symbol':'1.0'}}</del></span>
        <span class="text-success font-weight-lighter">{{product.offerprice}}% off</span>
    </div>
    
    <p class="desc">{{product.desc}}</p>
  </div>
  <div class="product-footer hidden d-flex justify-content-center">
   <button class="btn btn-warning mr-1" (click)="favorite(product)">
      <i class='material-icons'>favorite</i>
   </button>
   <button class="btn btn-light mr-1" (click)="share(product)">
      <i class='material-icons'>
          share
        </i>
   </button>
   <button class="btn btn-primary" (click)="addcart(product)">
     <i class='material-icons'>shopping_cart</i></button>
  </div>
</div>
</div>